body{
    background-color: rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(206, 206, 206);
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav  li a:hover {
    background-color: rgb(255, 255, 255);
  }

h1, h2 {
    text-align: center;
}





article {
    float: left;
    padding: 20px 20px 80px 20px;
    width: 100%;
    display:inline-block;  
  }
  aside {
    padding: 0px;
    text-align: right;
    display: inline-block;
    float: right;
    width: 20%;
    
  }
  .main{
    float: left;
    width: 70%;
  }

  .footer{
    
    bottom:0; 
    display:block ;
    margin: 20px;
 

}

#application_form span {
  color: red;
}

label {
  float: left;
  width: 15em;
}
input, select {
  width: 10em;
  margin-left: 1em;
  margin-bottom: 1em;
}
input[type="checkbox"],[type="radio"] {
  width: 1em;
}
#application_info span {
  color: red;
}
td {
width: 9em;	
BORDER-BOTTOM: SOLID 1PX BLACK;
VERTICAL-ALIGN: baseline;
padding-top: 15PX;


}

.transactionTables {
  
  text-align: left;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
  }

#ad-container {width:100%;}
#ad-container img {border:0; width: 100%; height: auto;}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
 @media only screen and (max-width: 620px) {
    main, nav, article, .main, aside, footer {
      width: 100%;
      height: auto;
    }
  }

.bars{
   /* control the speed of animation of this element */
   transition: all 3s ease; 
  
    
  }

  /* .bars:hover{
    border: 1px solid black;
    background-color: lightblue;
    width: 270px;
    height: 100px;
    overflow: auto;
    transition: all 2s;
    
      
    } */
  
